*{
    font-family: Courier, monospace;
    text-shadow: 2px 2px 3px #969393;
}
body{
    background: url(./img/2c47b2c26bae2a7f13a9884efd78463f.gif) center no-repeat fixed;
    background-size:cover;
}
.quadro{
    display: flex;
}
.explicao{
    display: none;
}
/* Quadrado inicial*/
.tela{
    margin: 10% 30% 30% 30%;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
    background: url(./img/numbers2.gif);
    background-size: cover;
}
.tela .mensagens-tela .mensagens-tela{
    color:white;
    text-align: center;
}
/* Botões*/
.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 60px 0 60px;
    color: white;
}
.formulario button{
    margin-top: 10px;
}
.invisivel-cesar{ /*Parte de deixar o botão cesar invisivel e toda sua estrutura*/
    display: none;
}
.colocarCesar{ /*Parte de colocar numero*/
    display: flex;
    justify-content: center;
}
#input-cesar{
    margin-left: 10px;
    width: 25px;
    text-align: center;
    border-radius: 10px;
}

.invisivel-base64{ /* Parte deixar invisivel o botão base64*/
    display: none;
}
.botoes button{
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 10px;
}
/*Caixa de mensagem*/
#mensagem-traduzir{
    border-radius: 10px;
    height: 150px;
    width: 400px;
}

#mensagem-resultado{
    border-radius: 10px;
    height: 150px;
    width: 400px;
}
#resultado-da-traducao{
    border-radius: 10px;
    height: 150px;
    width: 400px;
}
/*Parte da tradução*/
.botoes-traduzir button{
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 10px;
}

#resultado-da-traducao{
    margin-bottom: 10px;
}
