*{
    font-family: Courier, monospace;
    text-shadow: 2px 2px 3px #969393;
}
body{
    background: url(./img/2c47b2c26bae2a7f13a9884efd78463f.gif) center no-repeat fixed;
    background-size:cover;
}
.quadro{
    display: flex;
    justify-content: center;
}
.explicao{
    display: none;
}
/* Quadrado inicial*/
.tela{
    margin: 10% 5% 30% 5%;
    width: 500px;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
    background: url(./img/numbers2.gif);
    background-size: cover;
}
/* Parte de aparecer outra janela ao lado*/
/*.tela2{
    justify-content: column;
    margin: 10% 5% 0 5%;

    max-height: 300px;
    min-width: 100px;
    max-width: 350px;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
    background: url(./img/numbers2.gif);
    background-size: cover;
}*/
.mensagens-tela-base64{
    color:white;
    word-wrap: break-word; /* ele estava saindo da tela, coloquei isso para arrumar*/
}
/*---------------------------------------------*/
.mensagens-tela{
    color:white;
    text-align: center;
}

.mensagens-tela-titulo{
    font-size: 30px;
}
/* Botões*/
.botoes{
    color:white;
}
.botoes .selecao-Cript{
    display: flex;
    justify-content: space-around;
}
.selecao-Cript{
    display: flex;
    flex-direction: column;
}
.formulario button{
    margin-top: 10px;
}
.cesar-button{ /*Botão cesar-button*/
    margin: auto;
}
.invisivel-cesar{ /*Parte de deixar o botão cesar invisivel e toda sua estrutura*/
    display: none;
}
.colocarCesar{ /*Parte de colocar numero*/
    display: flex;
    justify-content: center;
}
#input-cesar{ /* Parte de adicionar um número na caixa do cesar*/
    margin-left: 10px;
    width: 25px;
    text-align: center;
    border-radius: 10px;
}

.invisivel-base64{ /* Parte deixar invisivel o botão base64*/
    display: none;
}
.botoes button{
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 10px;
}
/*Caixa de mensagem*/
#mensagem-traduzir{
    border-radius: 10px;
    height: 150px;
    width: 400px;
}
#mensagem-resultado{
    border-radius: 10px;
    height: 50px;
    width: 400px;
}
#mensagem-para-decodificar{
    border-radius: 10px;
    height: 150px;
    width: 400px;
}
#resultado-da-traducao{
    border-radius: 10px;
    height: 50px;
    width: 400px;
}
/*Parte da tradução*/
.botoes-traduzir button{
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 10px;
}

#resultado-da-traducao{
    margin-bottom: 10px;
}
.invisivel-dec{
    display: none;
}
.invisivel-dec-base64{
    display: none;
}
.cesar-traducao{
    margin: auto;
}
.selecao-Cript{
    margin-top: 10px;
}
.input-cesar-deci{ /* Parte de colocar o numero para a tradução - Cesar*/
    margin-left: 10px;
    width: 25px;
    text-align: center;
    border-radius: 10px;
}

